---
import Header from '$components/saweria/Header.astro'
import Navbar from '$components/saweria/Navbar.astro'
import Card from '$components/saweria/Card.astro'
import CardWithTap from '$components/saweria/CardWithTap.astro'
import Layout from '../layouts/SeedBKK.astro'
import Footer from '$components/Footer.astro'
import ContainerCards from '@/components/saweria/ContainerCards.astro'
import LoopImages from '@/components/saweria/LoopImages.astro'
---

<Layout>
  <Navbar />
  <Header />

  <!-- <ContainerCards /> -->
  <br />
  <!-- <Card body={msg} /> -->
  <br />
  <div class="custom-content container">
    <div class="col-md-12 col-sm-12 col-12">
      <img class="img-fluid rounded" src="./peep_characters.png" alt="" />
    </div>
  </div>
  <!-- <CardWithTap title="What We do?" body={msg2} />

  <CardWithTap title="เราเป็นโบสถ์แบบไหน?" body={msg3} color="#f5bfd2" /> -->
  <!-- <LoopImages /> -->
  <!-- <Footer /> -->
</Layout>
