@font-face {
  font-family: 'FuturaHandwritten';
  font-style: normal;
  src: url('/fonts/FuturaHandwritten.ttf') format('truetype');
}

.title-futuraHandwritten {
  font-family: 'FuturaHandwritten';
}
