---

---

<div
    class="dark relative hidden gap-1 overflow-hidden text-ellipsis whitespace-nowrap bg-black px-3 py-2 text-sm text-muted dark:border-b dark:border-slate-800 dark:bg-transparent dark:text-slate-400 md:flex"
>
    <span
        class="mr-0.5 inline-block bg-white/40 px-1 py-0.5 text-xs font-semibold dark:bg-slate-700 dark:text-slate-300 rtl:ml-0.5 rtl:mr-0"
        >NEW</span
    >
    <a
        href="https://www.seedchurchbkk.org/camp-seed-2025/"
        class="font-medium text-muted hover:underline dark:text-slate-400"
        >เข้าร่วมกับเรา ค่ายเมล็ดพันธุ์ประจำปี2025
    </a>
    <a
        target="_blank"
        rel="noopener"
        class="bg-[url(https://img.shields.io/github/stars/onwidget/astrowind.svg?style=social&label=Stars&maxAge= )] ml-auto inline-block h-[1.25rem] w-[5.6rem] bg-contain ltr:ml-auto rtl:mr-auto"
        title="If you like SeedChBKK, give us a star."
        href="https://github.com/seedbkkchurch/seedbkk-landing-astro.git"
    >
    </a>
</div>
