---
import Features2 from '~/components/widgets/Features2.astro'
import Features3 from '~/components/widgets/Features3.astro'
import Hero from '~/components/widgets/Hero.astro'
import Stats from '~/components/widgets/Stats.astro'
import Steps2 from '~/components/widgets/Steps2.astro'
import Layout from '~/layouts/PageLayout.astro'

const metadata = {
    title: 'About us',
}
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero
        tagline="About us"
        image={{
            src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
            alt: 'Caos Image',
        }}
    >
        <Fragment slot="title">
            Beginning<br />
            <span class="highlight text-green dark:text-white"> คริสตจักรเมล็ดพันธุ์กรุงเทพฯ</span>
        </Fragment>

        <Fragment slot="subtitle">
            เรื่องราวของการนำทางของพระเจ้าที่ชัดเจน เริ่มต้นจากความห่วงใยในชีวิตของน้องๆ
            นักศึกษาที่เข้ามาเรียนต่อในกรุงเทพฯ และการติดตามดูแลของศิษยาภิบาลและภรรยา
            ที่ไม่ยอมทิ้งให้ใครหลุดหายไปจากทางของพระเจ้า แม้ว่าจะมีช่วงเวลาที่น้องๆ เหล่านั้นห่างหายจากคริสตจักร
            แต่พระเจ้ายังคงทำงานผ่านชีวิตของพวกเขา และนำไปสู่การเริ่มต้นของคริสตจักรเมล็ดพันธุ์กรุงเทพฯ
        </Fragment>
    </Hero>

    <!-- Stats Widget ****************** -->

    <Stats
        title="จากสมาชิกเพียง 4 คน ที่รวมตัวกันด้วยความรักและความเชื่อในพระเจ้า และเติบโตขึ้นเป็น 30 คนภายในเวลาเพียง 2 ปี 90% ของสมาชิกเป็นวัยรุ่นที่มีอายุเฉลี่ยเพียง 22.5 ปี ทำให้คริสตจักรแห่งนี้เป็นคริสตจักรของคนรุ่นใหม่ ที่เต็มไปด้วยพลังและความกระตือรือร้นในการรับใช้พระเจ้า"
        stats={[
            { title: 'Member', amount: '~30' },
            { title: 'Age Avg', amount: '22.5 year' },
            { title: 'Age Chruch', amount: '2 year' },
        ]}
    />

    <!-- Features3 Widget ************** -->

    <Features3
        title="Vision"
        subtitle="การเป็นคริสตจักรที่เติบโตและขยายออกไปในกลุ่มคนรุ่นใหม่ โดยเฉพาะในมหาวิทยาลัยต่างๆ ทั่วกรุงเทพฯ และรังสิต เรามุ่งมั่นที่จะสร้างชุมชนแห่งความเชื่อที่อบอุ่น และช่วยให้คนรุ่นใหม่ได้เติบโตในทางของพระเจ้า"
        columns={2}
        isBeforeContent={true}
        items={[
            {
                title: 'Thailand Shall Be Safe',
                description: 'นำพระพรไปสู่คนไทย เพื่อเปลี่ยนแปลงชีวิตคนไทยให้ดึขึ้น',
                icon: 'tabler:home-shield',
            },
            {
                title: 'Teenatures Shall Be Leaders',
                description:
                    'ปรารถนาที่จะเห็นเยาวชนเป็นผู้นำในการเปลี่ยนแปลงประเทศไปในทางที่ดีตามแบบอย่างพระเยซูคริสต์',
                icon: 'tabler:transform',
            },
            {
                title: 'Grow and Multiply',
                description:
                    ' การเป็นคริสตจักรที่เติบโตและขยายออกไปในกลุ่มคนรุ่นใหม่ โดยเฉพาะในมหาวิทยาลัยต่างๆ ทั่วกรุงเทพฯ และรังสิต',
                icon: 'tabler:seedling',
            },
            {
                title: 'Rooted in Faith, Growing the Next Generation',
                description:
                    'เรามุ่งมั่นที่จะสร้างชุมชนแห่งความเชื่อที่อบอุ่น และช่วยให้คนรุ่นใหม่ได้เติบโตในทางของพระเจ้า',
                icon: 'tabler:cross',
            },
        ]}
    />

    <!-- Features3 Widget ************** -->

    <!-- <Features3
        columns={3}
        isAfterContent={true}
        items={[
            {
                title: 'E-commerce',
                description:
                    'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
                icon: 'tabler:template',
            },
            {
                title: 'Blog',
                description:
                    'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
                icon: 'tabler:template',
            },
            {
                title: 'Business',
                description:
                    'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
                icon: 'tabler:template',
            },
            {
                title: 'Branding',
                description:
                    'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
                icon: 'tabler:template',
            },
            {
                title: 'Medical',
                description:
                    'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
                icon: 'tabler:template',
            },
            {
                title: 'Fashion Design',
                description:
                    'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
                icon: 'tabler:template',
            },
        ]}
        image={{
            src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
            alt: 'Colorful Image',
        }}
    /> -->

    <!-- Steps2 Widget ****************** -->

    <Steps2
        title="Perspective & Goals"
        subtitle="เป้าหมายของเราคือการให้น้องๆ ทุกคนรู้ว่าพระเจ้าใช้เขาได้ เรามุ่งมั่นที่จะสร้างคนรุ่นใหม่ที่เต็มไปด้วยความเชื่อและความรักในพระเจ้า และพร้อมที่จะเป็นเครื่องมือของพระองค์ในการเปลี่ยนแปลงสังคมและประเทศชาติ"
        items={[
            {
                title: 'มองเห็นศักยภาพของคนรุ่นใหม่',
                description:
                    'คริสตจักรเมล็ดพันธุ์กรุงเทพฯ เชื่อว่าคนรุ่นใหม่มีคุณค่าและศักยภาพที่พระเจ้าทรงมอบให้',
            },
            {
                title: 'เชื่อว่าพระเจ้าทรงมีแผนการที่ยิ่งใหญ่สำหรับคนรุ่นใหม่',
                description:
                    'ทุกคนไม่ได้เกิดมาโดยบังเอิญ แต่พระเจ้าทรงมีเป้าหมายและแผนการเพื่อชีวิตของพวกเขา',
            },
            {
                title: 'มุ่งเน้นการสร้างบรรยากาศการนมัสการที่สดใหม่',
                description:
                    'เพื่อให้การนมัสการสัมผัสใจและเป็นประสบการณ์ที่มีชีวิตชีวาสำหรับคนรุ่นใหม่',
            },
            {
                title: 'การเทศนาที่เข้าใจและเข้าถึงชีวิตของวัยรุ่น',
                description:
                    'เนื้อหาการเทศนาเน้นความเข้าใจง่าย สัมพันธ์กับชีวิตจริง และตอบโจทย์ความคิดของวัยรุ่น',
            },
            {
                title: 'กิจกรรมที่ช่วยให้คนรุ่นใหม่เติบโตทั้งทางจิตวิญญาณและสังคม',
                description:
                    'ไม่ใช่แค่ด้านความเชื่อ แต่รวมถึงการพัฒนาในความสัมพันธ์ การทำงานเป็นทีม และการมีบทบาทในสังคม',
            },
        ]}
    />

   
    <Hero
    tagline=""
    image={{
        src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'Caos Image',
    }}
>
    <Fragment slot="title">
        การบุกเบิกคริสตจักร<br />
        <span class="highlight text-green dark:text-white"> </span>
    </Fragment>

    <Fragment slot="subtitle">
         เริ่มต้นจากการติดตามน้องๆ นักศึกษา 
        และการเปิดกลุ่มนมัสการในมหาวิทยาลัยต่างๆ ปัจจุบันเรามีกลุ่มนมัสการใน 5 มหาวิทยาลัยทั่วกรุงเทพฯ 
        และรังสิต ซึ่งเป็นจุดเริ่มต้นของการขยายงานของพระเจ้าในกลุ่มคนรุ่นใหม่
       
        <br />
        เมล็ดพันธุ์กรุงเทพฯ คือการเริ่มต้นเล็กๆ ที่พระเจ้าทรงใช้เพื่อสร้างสิ่งยิ่งใหญ่ เราเชื่อว่าเมล็ดพันธุ์แห่งความเชื่อที่ถูกหว่านลงในใจของคนรุ่นใหม่ จะเติบโตและเกิดผลมากมายในอนาคต คริสตจักรเมล็ดพันธุ์กรุงเทพฯ จึงเป็นเหมือนดินดีที่พร้อมจะรับเมล็ดพันธุ์แห่งความเชื่อ และช่วยให้มันเติบโตอย่างแข็งแรงในทางของพระเจ้า
    </Fragment>
</Hero>
<!-- 
    <Steps2
        title="Achievements"
        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
        isReversed={true}
        callToAction={{
            text: 'See more',
            href: '/',
        }}
        items={[
            {
                title: 'Global reach',
                description:
                    'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
                icon: 'tabler:globe',
            },
            {
                title: 'Positive customer feedback and reviews',
                description:
                    'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
                icon: 'tabler:message-star',
            },
            {
                title: 'Awards and recognition as industry experts',
                description:
                    'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
                icon: 'tabler:award',
            },
        ]}
    /> -->

    <!-- Features2 Widget ************** -->
<!-- 
    <Features2
        title="Our locations"
        tagline="Find us"
        columns={4}
        items={[
            {
                title: 'EE.UU',
                description: '1234 Lorem Ipsum St, 12345, Miami',
            },
            {
                title: 'Spain',
                description: '5678 Lorem Ipsum St, 56789, Madrid',
            },
            {
                title: 'Australia',
                description: '9012 Lorem Ipsum St, 90123, Sydney',
            },
            {
                title: 'Brazil',
                description: '3456 Lorem Ipsum St, 34567, São Paulo',
            },
        ]}
    /> -->

    <!-- Features2 Widget ************** -->

    <!-- <Features2
        title="Technical Support"
        tagline="Contact us"
        columns={2}
        items={[
            {
                title: 'Chat with us',
                description:
                    'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
                icon: 'tabler:messages',
            },
            {
                title: 'Call us',
                description:
                    'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
                icon: 'tabler:headset',
            },
        ]}
    /> -->
</Layout>
