---
import Header from '$components/saweria/Header.astro'
import Navbar from '$components/saweria/Navbar.astro'
import Card from '$components/saweria/Card.astro'
import CardWithTap from '$components/saweria/CardWithTap.astro'
import Layout from '../layouts/SeedBKK.astro'
import Footer from '$components/Footer.astro'
import ContainerCards from '@/components/saweria/ContainerCards.astro'
---

<style>
  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Full viewport height */
    text-align: center; /* Center text horizontally */
  }
  .large {
    font-size: 4vw; /* Font size scales with viewport width */
  }
</style>

<Layout>
  <Navbar />
  <!-- <Header /> -->
  <div class="center-container">
    <!-- <img src="/icons/meteMaskAddress.png" width="400" height="400" /> -->
    <h1 class="large">บัญชีธนาคาร คริสตจักร</h1>
    <h1 class="large">ธนาคารไทยพานิชย์ </h1>
    <h1 class="large">สาขาเซ็นเตอร์วันช้อปปิ้งพลาซ่า</h1>  
    
    <h1 class="large">
      <img src="/icons/SCB.BK_BIG-b5007084.png" width="400" height="128" />
       420-1960363-1
    </h1>
    <h3>ชื่อบัญชีเอกมณีและวัธนีและพิชาม</h3>
    <img src="/icons/meteMaskAddress.png"  />
  </div>
  <!-- <div class="custom-content container">
    
    <div class="col-md-12 col-sm-12 col-12">
      
      <div class="card">
        <div class="card-body">
          <p class="card-text ">
           
          </p>
        </div>
      </div>
    </div>
  </div>
  <br/> -->
  <!-- <ContainerCards/> -->

  <Footer />
</Layout>
