---
import Header from '$components/saweria/Header.astro'
import Navbar from '$components/saweria/Navbar.astro'
import Card from '$components/saweria/Card.astro'
import CardWithTap from '$components/saweria/CardWithTap.astro'
import Layout from '../layouts/SeedBKK.astro'
import Footer from '$components/Footer.astro'
import ContainerCards from '@/components/saweria/ContainerCards.astro'
import LoopImages from '@/components/saweria/LoopImages.astro'
---

<style>
  .section {
    padding: 100px 20px;
  }
  .bg-light-blue {
    background-color:  #e3fbd5	; /* Light blue */
  }
  .bg-lighter {
    background-color: #f7f9fc; /* Slightly lighter background */
  }
  p {
    font-size: 30px;
  }
</style>
<Layout
  title="ＳＥＥＤＢＫＫ"
  description="โบสกรุงเทพตอนบ่าย โบสเมล็ดพันพันธุ์กรุงเทพ โบสวัยรุ่น"
  pubDate={new Date('Septerber 09 2023')}
>
  <Navbar />
  <Header />
  <!-- <div class="loop_css3">
    <div>กลุ่มแคร์วันพุธ 19.00 pm. </div>
    <div> at SCC Creative Space</div>
    <div>กลุ่มแคร์วันพุธ 19.00 pm. </div>
    <div> at SCC Creative Space</div>
   </div> -->
  <div class="container-fluid">
    <div class="row section bg-light-blue ">
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <!-- You can replace this with an actual image or SVG -->
        <img src="/cardsEffect2/place2.jpg" width="450" height="300" class="float-left rounded" alt="care1" />
      </div>
      <div class="col-md-8">
        <h2 class="fw-bold">ราชเทวี- creative space 19.00-21.00 วันพุธ</h2>
        <p>
          ราชเทวี- creative space
        </p>
      </div>
    </div>

    <div class="row section bg-lighter">
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <!-- You can replace this with an actual image or SVG -->
        <i class="icon bi bi-gear-fill"></i>
        <img src="/cardsEffect2/place2.jpg" width="450" height="300" class="float-left rounded" alt="care1" />
      </div>
      <div class="col-md-10">
        <h2 class="fw-bold">ม.เกษตร- อาคารเรียนรวม 3 18.00-20.00 วันพฤหัส</h2>
        <p>ม.เกษตร- อาคารเรียนรวม 3</p>
      </div>
      
    </div>

    <div class="row section bg-light-blue">
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <!-- You can replace this with an actual image or SVG -->
        <i class="icon bi bi-gear-fill"></i>
        <img src="/cardsEffect2/place2.jpg" width="450" height="300" class="float-left rounded" alt="care1" />
      </div>
      <div class="col-md-10">
        <h2 class="fw-bold">19.00-21.00 วันศุกร์</h2>
        <p>ม.รังสิต - โรงอาหาร ตึก6 </p>
      </div>
    </div>

    <!-- <section class="container-cards">
    <div class="category_container">
      <div class="content">
        <img src="/cardsEffect2/place1.jpg" class="professio_image" alt="Profession" />
        <img src="/cardsEffect2/place2.jpg" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span>สถานที่</span>
          <p></p>
        </div>
  
        <div class="wrapper">
          <div class="profile_quote">
            <p>เจอตึกสภามองซ้าย</p>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/cardsEffect2/care2.jpg" class="profession_image" alt="Profession" />
        <img src="/cardsEffect2/care1.jpg" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span>ห้องประชุม</span>
          <p></p>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>แบ่งบันผ่านการขอบคุณพระเจ้า</p>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/cardsEffect2/cafe1.jpg" class="professio_image" alt="Profession" />
        <img src="/cardsEffect2/cafe2.jpg" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span>SCC Creative Space</span>
          <p></p>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>
              คาเฟ่ส่งต่อความรักของพระเจ้า 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

    <Footer />
  </div>
</Layout>
