---
import Header from '$components/saweria/Header.astro'
import Navbar from '$components/saweria/Navbar.astro'
import Card from '$components/saweria/Card.astro'
import CardWithTap from '$components/saweria/CardWithTap.astro'
import Layout from '../layouts/SeedBKK.astro'
import Footer from '$components/Footer.astro'
import ContainerCards from '@/components/saweria/ContainerCards.astro'
import LoopImages from '@/components/saweria/LoopImages.astro'
import ImageGallery from '@/components/ImageGallery'
---

<style>
  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Full viewport height */
    text-align: center; /* Center text horizontally */
  }
  .large {
    font-size: 4vw; /* Font size scales with viewport width */
  }
</style>
<Layout>
  <Navbar />
  <!-- <ImageGallery client:only="react" /> -->
  <h1 class="large text-center">ราชเทวี - creative space วันพุธ 19.00-21.00</h1>

  <section class="container-cards">
    <div class="category_container">
      <div class="content">
        <img src="/cardsEffect2/place1.jpg" class="professio_image" alt="Profession" />
        <img src="/cardsEffect2/place2.jpg" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span>สถานที่</span>
          <p></p>
        </div>

        <div class="wrapper">
          <div class="profile_quote">
            <p>เจอตึกสภามองซ้าย</p>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/cardsEffect2/care2.jpg" class="profession_image" alt="Profession" />
        <img src="/cardsEffect2/care1.jpg" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span>ห้องประชุม</span>
          <p></p>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>แบ่งบันผ่านการขอบคุณพระเจ้า</p>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/cardsEffect2/cafe1.jpg" class="professio_image" alt="Profession" />
        <img src="/cardsEffect2/cafe2.jpg" class="profile_image" alt="Profile" />
        <div class="profile_detail">
          <span>SCC Creative Space</span>
          <p></p>
        </div>
        <div class="wrapper">
          <div class="profile_quote">
            <p>คาเฟ่ส่งต่อความรักของพระเจ้า</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h1 class="large text-center">ม.เกษตร - อาคารเรียนรวม 3 วันพฤหัส 18.00-20.00</h1>
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <img src="/care/ku1.JPG" alt="care ku1" class="img-fluid w-100 h-200 object-fit-cover rounded" />
      </div>
      <div class="col-12 col-md-4">
        <img src="/care/ku2.png" alt="care ku2" class="img-fluid w-100 h-200 object-fit-cover rounded" />
      </div>
      <div class="col-12 col-md-4">
        <img src="/care/ku3.JPG" alt="care ku3" class="img-fluid w-100 h-200 object-fit-cover rounded" />
      </div>
    </div>
    <h1 class="large text-center">ม.รังสิต - โรงอาหาร ตึก 6 วันศุกร์ 19.00-21.00</h1>

    <div class="container-fluid">
      <div class="row g-3">
        <div class="col-12 col-md-4">
          <img src="/care/ru1.JPG" alt="care ru1" class="img-fluid w-100 h-200 object-fit-cover rounded" />
        </div>
        <div class="col-12 col-md-4">
          <img src="/care/ru2.JPG" alt="care ru2" class="img-fluid w-100 h-200 object-fit-cover rounded" />
        </div>
        <div class="col-12 col-md-4">
          <img src="/care/ru3.JPG" alt="care ru3" class="img-fluid w-100 h-200 object-fit-cover rounded" />
        </div>
      </div>
    </div>

    <Footer />
  </div>
</Layout>
