---
import Layout from '~/layouts/PageLayout.astro'

import Hero from '~/components/widgets/Hero.astro'
import Note from '~/components/widgets/Note.astro'
import Features from '~/components/widgets/Features.astro'
import Steps from '~/components/widgets/Steps.astro'
import Content from '~/components/widgets/Content.astro'
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro'
import FAQs from '~/components/widgets/FAQs.astro'
import Stats from '~/components/widgets/Stats.astro'
import CallToAction from '~/components/widgets/CallToAction.astro'
import Image from '~/components/common/Image.astro'
import Steps2 from '~/components/widgets/Steps2.astro'
import CountdownTimer from '~/components/CountdownTimer'

import Button from '~/components/ui/Button.astro'
import { desc } from 'motion/react-client'
import Features2 from '@/components/widgets/Features2.astro'

const appStoreImg = '~/assets/images/app-store.png'
const appStoreDownloadLink = 'https://apps.apple.com/us/app/seed-church/id6654904118'

const googlePlayImg = '~/assets/images/google-play.png'
const googlePlayDownloadLink =
    'https://play.google.com/store/apps/details?id=com.seedchurchthailand.seed&pcampaignid=web_share'

const metadata = {
    title: 'คริสตจักรเมล็ดพันธุ์กรุงเทพ',
    ignoreTitleTemplate: true,
}
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero
        actions={[
            {
                variant: 'primary',
                text: 'พระเจ้ามีจริงไหม',
                href: 'https://www.seedchurch-thailand.com/%E0%B8%A3-%E0%B8%88-%E0%B8%81%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%88-%E0%B8%B2',
                target: '_blank',
                icon: '',
            },
            {
                text: 'ข้อมูลองค์กรคริสจักร',
                href: 'https://www.seedchurch-thailand.com/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87-%E0%B8%A3-%E0%B8%88-%E0%B8%81%E0%B9%82%E0%B8%9A%E0%B8%AA%E0%B8%96-1',
            },
        ]}
        image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
    >
        <Fragment slot="title">
            <span class="text-default dark:text-white">คริสตจักร</span>
            <span class="highlight text-green dark:text-white"> เมล็ดพันธุ์</span>
            <span class="text-default dark:text-white">กรุงเทพ</span>
        </Fragment>

        <Fragment slot="subtitle">
            <span class="hidden sm:inline">
                <span class="font-semibold text-blue-600">คริสตจักรแห่งการสร้างสาวกและตั้งคริสตจักร</span>
            </span>
            <span class="mb-1 block font-bold text-blue-600 sm:hidden">คริสตจักรแห่งการสร้างสาวกและตั้งคริสตจักร</span>
        </Fragment>
    </Hero>

    <CountdownTimer client:only="react" />
    <Note quote="Note:" text="รอบนมัสการรอบถัดไป วันอาทิตย์ วันอาทิตย์ 14.00" />

    <!-- Features Widget *************** -->
    <Features
        id="features"
        tagline=""
        title="Vision"
        subtitle=""
        items={[
            {
                title: 'Thailand Shall Be Safe',
                description: 'นำพระพรไปสู่คนไทย เพื่อเปลี่ยนแปลงชีวิตคนไทยให้ดึขึ้น',
                // icon: 'tabler:brand-tailwind',
            },
            {
                title: 'Teenatures Shall Be Leaders',
                description:
                    'ปรารถนาที่จะเห็นเยาวชนเป็นผู้นำในการเปลี่ยนแปลงประเทศไปในทางที่ดีตามแบบอย่างพระเยซูคริสต์',
                // icon: 'tabler:brand-tailwind',
            },
            {
                title: 'Grow and Multiply',
                description:
                    ' คือการเป็นคริสตจักรที่เติบโตและขยายออกไปในกลุ่มคนรุ่นใหม่ โดยเฉพาะในมหาวิทยาลัยต่างๆ ทั่วกรุงเทพฯ และรังสิต',
            },
            {
                title: 'Rooted in Faith, Growing the Next Generation',
                description:
                    'เรามุ่งมั่นที่จะสร้างชุมชนแห่งความเชื่อที่อบอุ่น และช่วยให้คนรุ่นใหม่ได้เติบโตในทางของพระเจ้า',
            },
        ]}
    />

    <!-- Features2 Widget ************** -->

    <Features2
        title="Perspective"
        subtitle="การมองเห็นศักยภาพของคนรุ่นใหม่ และเชื่อว่าพระเจ้าทรงมีแผนการที่ยิ่งใหญ่สำหรับพวกเขา เราจึงมุ่งเน้นการสร้างบรรยากาศการนมัสการที่สดใหม่ การเทศนาที่เข้าใจและเข้าถึงชีวิตของวัยรุ่น และกิจกรรมที่ช่วยให้พวกเขาได้เติบโตทั้งทางจิตวิญญาณและสังคม"
        tagline=""
        items={[
            // {
            //   title: 'Headers',
            //   description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
            //   icon: 'flat-color-icons:template',
            // },
            // {
            //   title: 'Heros',
            //   description:
            //     "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
            //   icon: 'flat-color-icons:gallery',
            // },
            // {
            //   title: 'Features',
            //   description:
            //     'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
            //   icon: 'flat-color-icons:approval',
            // },
            // {
            //   title: 'Content',
            //   description:
            //     "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
            //   icon: 'flat-color-icons:document',
            // },
            // {
            //   title: 'Call-to-Action',
            //   description:
            //     'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
            //   icon: 'flat-color-icons:advertising',
            // },
            // {
            //   title: 'Pricing',
            //   description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
            //   icon: 'flat-color-icons:currency-exchange',
            // },
            // {
            //   title: 'Testimonial',
            //   description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
            //   icon: 'flat-color-icons:voice-presentation',
            // },
            // {
            //   title: 'Contact',
            //   description:
            //     'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
            //   icon: 'flat-color-icons:business-contact',
            // },
            // {
            //   title: 'Footers',
            //   description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
            //   icon: 'flat-color-icons:database',
            // },
        ]}
    >
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
    </Features2>
    <!-- Content Widget **************** -->

    <!-- Content Widget **************** -->

    <!-- <Content
    id="porfolio"
    title="Small group"
    subtitle="หรือกลุ่มแคร์ที่เราจะได้รู้จักกันมากขึ้นและสามัคคีธรรม"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'กลุ่มสายฮาของคน cool เราเรียนรู้คำของพระเจ้าและเติบโตไปด้วยกัน  เราปรึกษาและทานอาหารร่วมกัน ',
      },
      {
        title: 'วิธีการเดินทางมา:',
        description:
          'ลง BTS ลง bts สถานีบางบัวนะครับ พายเรือมา10กิโลแล้วข้ามสะพานมาจะเจอ',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        มอ.ศรีปทุม @ข้างคาเฟ่อเมซอล มอ.ศรีปทุม: <br /><span class="text-2xl"></span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

    <!-- Content Widget **************** -->

    <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        เกษตรศาสตร์ @ อาคารเรียนรวม3 KU : <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

    <!-- Content Widget **************** -->

    <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        รังสิต: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->
    <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="mb-2 text-2xl font-bold tracking-tight dark:text-white sm:text-3xl">
        ศรีปทุม: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->
    <!-- HighlightedPosts Widget ******* -->

    <BlogLatestPosts
        title="Find out more content in our Blog"
        information={`ข่าวสาร กิจกรรม และคำสอนจากพระคัมภีร์ล่าสุด`}
    />

    <!-- Note Widget ******************* -->

    <Note quote="Quote:" text="คุณเปลี่ยนแปลงตัวเองไม่ได้ แต่พระเจ้าเปลี่ยนคุณได้" />
    <!-- FAQs Widget ******************* -->

    <FAQs
        title="Frequently Asked Questions"
        subtitle="เจาะลึกคำถามต่อไปนี้เพื่อรับข้อมูลเชิงลึก"
        tagline="FAQs"
        classes={{ container: 'max-w-6xl' }}
        items={[
            {
                title: 'พระเยซูคือใคร  ตายบนกางเขนแล้วเกี่ยวอะไรกับฉัน?',
                description:
                    'พระเยซูคือพระบุตรของพระเจ้า ผู้มาในโลกเพื่อช่วยมนุษย์จากบาปของตนเอง พระองค์สอนให้รักพระเจ้าและเพื่อนมนุษย์ แล้วสิ้นพระชนม์บนไม้กางเขนเพื่อชดใช้บาปแทนทุกคน แต่สามวันต่อมาพระองค์ฟื้นคืนชีพ แสดงให้เห็นว่าความตายและบาปไม่มีอำนาจเหนือพระองค์',
            },
            {
                title: 'ทุกศาสนาสอนให้เป็นคนดี แล้วทำไมต้องเชื่อพระเจ้า',
                description:
                    'จริงที่ว่าทุกศาสนาสอนให้เป็นคนดี แต่ ศาสนาคริสต์ไม่ได้เน้นแค่การเป็นคนดี เพราะปัญหาของมนุษย์ไม่ใช่แค่ "ไม่ดีพอ" แต่คือ "บาป" ซึ่งทำให้เราขาดจากพระเจ้า ถ้าแค่เป็นคนดีพอจะทำให้รอดได้ พระเยซูไม่จำเป็นต้องมาตายบนไม้กางเขน แต่เพราะเราช่วยตัวเองไม่ได้ พระองค์จึงมอบทางรอดให้เราฟรีๆ ผ่านความเชื่อในพระองค์',
            },
            {
                title: 'พระเจ้าก็เหมือนเป็นกุศโลบายที่ทำให้เราทำความดีหรอ?',
                description:
                    'พระเจ้าในมุมมองของคริสต์ศาสนา ไม่ใช่แค่กุศโลบายเพื่อให้คนทำดี แต่เป็น พระผู้สร้างและเป็นแหล่งของชีวิต ความรัก และความจริง  ถ้าพระเจ้ามีอยู่จริง การทำดีไม่ใช่แค่เรื่องของศีลธรรม แต่คือ การตอบสนองต่อความรักของพระองค์ ไม่ใช่แค่ ทำดีเพราะกลัว หรือ เพราะหวังรางวัล แต่เพราะเราได้รับความรักและพระคุณจากพระเจ้าแล้ว เราจึงอยากทำดีโดยธรรมชาติ',
            },
            {
                title: 'อยู่ในสังคมคริสเตียนโดนล้างสมองหรืองมงายจริงป่าว?',
                description:
                    'คนที่ไม่เคยสัมผัสความเชื่อคริสเตียนอาจมองว่าผู้เชื่อโดนล้างสมองหรืองมงาย เพราะศาสนามักถูกมองว่าเป็นเรื่องของอารมณ์ ความเชื่อแบบไร้เหตุผล หรือการถูกชักนำจากสังคม แต่ ความเชื่อในพระเจ้าไม่ได้ขัดกับเหตุผล คริสเตียนจำนวนมาก รวมถึงนักวิทยาศาสตร์ นักปรัชญา และนักคิดที่ยิ่งใหญ่ในประวัติศาสตร์ เชื่อในพระเจ้าโดยใช้เหตุผล วิเคราะห์หลักฐาน และตั้งคำถามกับสิ่งที่ตัวเองเชื่อ  ถ้าเป็นการล้างสมอง แสดงว่าห้ามตั้งคำถาม แต่คริสเตียนกลับส่งเสริมให้แสวงหาความจริง ศึกษาคำสอน และใช้เหตุผลประกอบความเชื่อ พระคัมภีร์เองก็บอกให้ รักพระเจ้าด้วยสุดจิตสุดใจ และด้วยสติปัญญาของเจ้า (มัทธิว 22:37)',
            },
            {
                title: 'ทำไมคนไปโบสเยอะจังเลย ผู้นำที่โบสได้อะไร เขาได้เงินได้กำไรหรอ?',
                description:
                    " โบสถ์เป็นสถานที่ที่ให้มากกว่าการนมัสการพระเจ้า เพราะมันเป็นศูนย์รวมของผู้คนที่มีเป้าหมายทางจิตวิญญาณร่วมกัน คนที่ไปโบ ผู้นำโบสถ์ หรือ 'ศิษยาภิบาล'  ทำหน้าที่คล้ายผู้นำทางจิตวิญญาณ พวกเขาอาจได้รับค่าตอบแทนหรืออาจทำงานโดยไม่รับเงินเลย ขึ้นอยู่กับลักษณะของโบสถ์",
            },
            {
                title: 'คริสเตียนเป็นพวกไร้ความรับชอบเอาแต่พึ่งพาพระเจ้าจริงหรอ',
                description:
                    'คริสเตียนไม่ได้ไร้ความรับผิดชอบ แต่เชื่อว่าต้อง ทำหน้าที่ของตัวเองให้ดีที่สุด พร้อมกับพึ่งพาพระเจ้าในเรื่องที่ควบคุมไม่ได้ พระคัมภีร์สอนให้ ขยัน ซื่อสัตย์ และรับผิดชอบ เช่น  ใครไม่ยอมทำงาน ก็อย่าให้เขากิน (2 เธสะโลนิกา 3:10)  จงทำทุกสิ่งเหมือนทำถวายพระเจ้า (โคโลสี 3:23) คริสเตียนที่แท้จริง ต้องลงมือทำ ไม่ใช่แค่อธิษฐานแล้วรอให้ทุกอย่างเกิดขึ้นเอง ',
            },
        ]}
    />
    <!-- CallToAction Widget *********** -->

    <CallToAction
        actions={[
            {
                variant: 'primary',
                text: 'เข้าร่วมกับเรา',
                href: '',
                target: '_blank',
                icon: 'tabler:download',
            },
        ]}
    >
        <Fragment slot="title">
            คุณมีคำถามมากมายเกี่ยวกับคริสเตียน&nbsp; &nbsp;<br class="block sm:hidden" />
            <span class="sm:whitespace-nowrap"> ลองถาม ChatGPT แล้วก็ยังไม่เข้าใจ </span>
        </Fragment>

        <Fragment slot="subtitle">
            <br class="hidden md:inline" /> สิบปากว่าไม่เท่าตาเห็น สิบหูได้ยินไม่เท่าได้ยินเอง
        </Fragment>
    </CallToAction>

    <!-- Stats Widget ****************** -->

    <Stats
        stats={[
            { title: 'Member', amount: '30+' },
            { title: 'Age Avg', amount: '23.5 year' },
            { title: 'Age Chruch', amount: '2 year' },
            // { title: 'Users', amount: '48.4K' },
        ]}
    />
</Layout>
