---
import Layout from '~/layouts/PageLayout.astro'

import Hero from '~/components/widgets/Hero.astro'
import Note from '~/components/widgets/Note.astro'
import Features from '~/components/widgets/Features.astro'
import Steps from '~/components/widgets/Steps.astro'
import Content from '~/components/widgets/Content.astro'
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro'
import FAQs from '~/components/widgets/FAQs.astro'
import Stats from '~/components/widgets/Stats.astro'
import CallToAction from '~/components/widgets/CallToAction.astro'
import Image from '~/components/common/Image.astro'
import Steps2 from '~/components/widgets/Steps2.astro'
import CountdownTimer from '~/components/CountdownTimer'

import Button from '~/components/ui/Button.astro'
import { desc } from 'motion/react-client'
import Features2 from '@/components/widgets/Features2.astro'

const metadata = {
    title: 'คริสตจักรเมล็ดพันธุ์กรุงเทพ',
    ignoreTitleTemplate: true,
}
---

<Layout metadata={metadata}>
    <!-- Hero Widget ******************* -->

    <Hero
        actions={[
            // {
            //     variant: 'primary',
            //     text: 'พระเจ้ามีจริงไหม',
            //     href: 'https://www.seedchurch-thailand.com/%E0%B8%A3-%E0%B8%88-%E0%B8%81%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%88-%E0%B8%B2',
            //     target: '_blank',
            //     icon: '',
            // },
            // {
            //     text: 'ข้อมูลองค์กรคริสตจักร',
            //     href: 'https://www.seedchurch-thailand.com/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87-%E0%B8%A3-%E0%B8%88-%E0%B8%81%E0%B9%82%E0%B8%9A%E0%B8%AA%E0%B8%96-1',
            // },
        ]}
        image={{ src: '~/assets/images/รูปกางเขน(คนยืนรวมกัน)-01.png', alt: 'People' }}
    >
        <Fragment slot="title">
            <span class="text-default dark:text-white">คริสตจักร</span>
            <span class="highlight text-green dark:text-green"> เมล็ดพันธุ์</span>
            <span class="text-default dark:text-white">กรุงเทพ</span>
        </Fragment>

        <Fragment slot="subtitle">
            <span class="hidden sm:inline">
                <span class="font-semibold text-blue-600">คริสตจักรแห่งการสร้างสาวกและตั้งคริสตจักร</span>
            </span>
            <span class="mb-1 block font-bold text-blue-600 sm:hidden">คริสตจักรแห่งการสร้างสาวกและตั้งคริสตจักร</span>
        </Fragment>
    </Hero>

    <CountdownTimer client:only="react" />
    <Note quote="Note:" text="รอบนมัสการรอบถัดไป วันอาทิตย์ วันอาทิตย์ 14.00" />
    <CallToAction
        title="รู้จักเราให้มากขึ้น"
        subtitle="จากความห่วงใยในชีวิตของน้องๆ นักศึกษาที่เข้ามาเรียนต่อในกรุงเทพฯ และการติดตามดูแลของศิษยาภิบาลและภรรยา..."
        actions={[
            {
                variant: 'primary',
                text: 'About Us',
                href: '/homes/about',
                icon: 'tabler:cross',
            },
        ]}
    />

    <FAQs
        title="Frequently Asked Questions"
        subtitle="เจาะลึกคำถามต่อไปนี้เพื่อรับข้อมูลเชิงลึก"
        tagline="FAQs"
        classes={{ container: 'max-w-6xl' }}
        items={[
            {
                title: 'พระเยซูคือใคร  ตายบนกางเขนแล้วเกี่ยวอะไรกับฉัน?',
                description:
                    'พระเยซูคือพระบุตรของพระเจ้า ผู้มาในโลกเพื่อช่วยมนุษย์จากบาปของตนเอง พระองค์สอนให้รักพระเจ้าและเพื่อนมนุษย์ แล้วสิ้นพระชนม์บนไม้กางเขนเพื่อชดใช้บาปแทนทุกคน แต่สามวันต่อมาพระองค์ฟื้นคืนชีพ แสดงให้เห็นว่าความตายและบาปไม่มีอำนาจเหนือพระองค์',
            },
            {
                title: 'ทุกศาสนาสอนให้เป็นคนดี แล้วทำไมต้องเชื่อพระเจ้า',
                description:
                    'จริงที่ว่าทุกศาสนาสอนให้เป็นคนดี แต่ ศาสนาคริสต์ไม่ได้เน้นแค่การเป็นคนดี เพราะปัญหาของมนุษย์ไม่ใช่แค่ "ไม่ดีพอ" แต่คือ "บาป" ซึ่งทำให้เราขาดจากพระเจ้า ถ้าแค่เป็นคนดีพอจะทำให้รอดได้ พระเยซูไม่จำเป็นต้องมาตายบนไม้กางเขน แต่เพราะเราช่วยตัวเองไม่ได้ พระองค์จึงมอบทางรอดให้เราฟรีๆ ผ่านความเชื่อในพระองค์',
            },
            {
                title: 'พระเจ้าก็เหมือนเป็นกุศโลบายที่ทำให้เราทำความดีหรอ?',
                description:
                    'พระเจ้าในมุมมองของคริสต์ศาสนา ไม่ใช่แค่กุศโลบายเพื่อให้คนทำดี แต่เป็น พระผู้สร้างและเป็นแหล่งของชีวิต ความรัก และความจริง  ถ้าพระเจ้ามีอยู่จริง การทำดีไม่ใช่แค่เรื่องของศีลธรรม แต่คือ การตอบสนองต่อความรักของพระองค์ ไม่ใช่แค่ ทำดีเพราะกลัว หรือ เพราะหวังรางวัล แต่เพราะเราได้รับความรักและพระคุณจากพระเจ้าแล้ว เราจึงอยากทำดีโดยธรรมชาติ',
            },
            {
                title: 'อยู่ในสังคมคริสเตียนโดนล้างสมองหรืองมงายจริงป่าว?',
                description:
                    'คนที่ไม่เคยสัมผัสความเชื่อคริสเตียนอาจมองว่าผู้เชื่อโดนล้างสมองหรืองมงาย เพราะศาสนามักถูกมองว่าเป็นเรื่องของอารมณ์ ความเชื่อแบบไร้เหตุผล หรือการถูกชักนำจากสังคม แต่ ความเชื่อในพระเจ้าไม่ได้ขัดกับเหตุผล คริสเตียนจำนวนมาก รวมถึงนักวิทยาศาสตร์ นักปรัชญา และนักคิดที่ยิ่งใหญ่ในประวัติศาสตร์ เชื่อในพระเจ้าโดยใช้เหตุผล วิเคราะห์หลักฐาน และตั้งคำถามกับสิ่งที่ตัวเองเชื่อ  ถ้าเป็นการล้างสมอง แสดงว่าห้ามตั้งคำถาม แต่คริสเตียนกลับส่งเสริมให้แสวงหาความจริง ศึกษาคำสอน และใช้เหตุผลประกอบความเชื่อ พระคัมภีร์เองก็บอกให้ รักพระเจ้าด้วยสุดจิตสุดใจ และด้วยสติปัญญาของเจ้า (มัทธิว 22:37)',
            },
            {
                title: 'ทำไมคนไปโบสเยอะจังเลย ผู้นำที่โบสได้อะไร เขาได้เงินได้กำไรหรอ?',
                description:
                    " โบสถ์เป็นสถานที่ที่ให้มากกว่าการนมัสการพระเจ้า เพราะมันเป็นศูนย์รวมของผู้คนที่มีเป้าหมายทางจิตวิญญาณร่วมกัน คนที่ไปโบ ผู้นำโบสถ์ หรือ 'ศิษยาภิบาล'  ทำหน้าที่คล้ายผู้นำทางจิตวิญญาณ พวกเขาอาจได้รับค่าตอบแทนหรืออาจทำงานโดยไม่รับเงินเลย ขึ้นอยู่กับลักษณะของโบสถ์",
            },
            {
                title: 'คริสเตียนเป็นพวกไร้ความรับชอบเอาแต่พึ่งพาพระเจ้าจริงหรอ',
                description:
                    'คริสเตียนไม่ได้ไร้ความรับผิดชอบ แต่เชื่อว่าต้อง ทำหน้าที่ของตัวเองให้ดีที่สุด พร้อมกับพึ่งพาพระเจ้าในเรื่องที่ควบคุมไม่ได้ พระคัมภีร์สอนให้ ขยัน ซื่อสัตย์ และรับผิดชอบ เช่น  ใครไม่ยอมทำงาน ก็อย่าให้เขากิน (2 เธสะโลนิกา 3:10)  จงทำทุกสิ่งเหมือนทำถวายพระเจ้า (โคโลสี 3:23) คริสเตียนที่แท้จริง ต้องลงมือทำ ไม่ใช่แค่อธิษฐานแล้วรอให้ทุกอย่างเกิดขึ้นเอง ',
            },
        ]}
    />
    <!-- CallToAction Widget *********** -->

    <CallToAction
        actions={[
            {
                variant: 'primary',
                text: 'เข้าร่วมกับเรา',
                href: '/contact',
                target: '_blank',
                icon: 'tabler:download',
            },
        ]}
    >
        <Fragment slot="title">
            คุณมีคำถามมากมายเกี่ยวกับคริสเตียน&nbsp; &nbsp;<br class="block sm:hidden" />
            <span class="sm:whitespace-nowrap"> ลองถาม ChatGPT แล้วก็ยังไม่เข้าใจ </span>
        </Fragment>

        <Fragment slot="subtitle">
            <br class="hidden md:inline" /> สิบปากว่าไม่เท่าตาเห็น สิบหูได้ยิน ไม่เท่าลงมาสัมผัสด้วยตัวเอง
        </Fragment>
    </CallToAction>

    <!-- Stats Widget ****************** -->

    <Stats
        stats={[
            { title: 'Member', amount: '30+' },
            { title: 'Age Avg', amount: '22.5 year' },
            { title: 'Age Chruch', amount: '2 year' },
            // { title: 'Users', amount: '48.4K' },
        ]}
    />
</Layout>
