---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'พระเจ้ามีจริงไหม',
        href: 'https://www.seedchurch-thailand.com/%E0%B8%A3-%E0%B8%88-%E0%B8%81%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%88-%E0%B8%B2',
        target: '_blank',
        icon: '',
      },
      { text: 'ข้อมูลองค์กรคริสจักร', href: 'https://www.seedchurch-thailand.com/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87-%E0%B8%A3-%E0%B8%88-%E0%B8%81%E0%B9%82%E0%B8%9A%E0%B8%AA%E0%B8%96-1' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      คริสตจักร 
      <span class="text-green dark:text-white highlight"> เมล็ดพันธุ์</span> กรุงเทพ
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold text-blue-600">คริสตจักรแห่งการสร้างสาวกและตั้งคริสตจักร</span> 
       </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">คริสตจักรแห่งการสร้างสาวกและตั้งคริสตจักร</span>
      โบสที่มีวัยรุ่น 100% และ culture แบบวัยรุ่น
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="Vision"
    subtitle=""
    items={[

      {
        
        title: 'Thailand Shall Be Safe', 
        description:
          'นำพระพรไปสู่คนไทย เพื่อเปลี่ยนแปลงชีวิตคนไทยให้ดึขึ้น',
        // icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Teenatures Shall Be Leaders', 
        description:
          'ปรารถนาที่จะเห็นเยาวชนเป็นผู้นำในการเปลี่ยนแปลงในการเปลี่ยนแปลงประเทศไปในทางที่ดีตามแบบอย่างพระเยซูคริสต์'
        // icon: 'tabler:brand-tailwind',
      },
      
     
     
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="Our Culture"
    items={[
      {
        title: 'เติบโตในการรู้จักพระเจ้า',
        description:
          'เราเติบโตผ่านการเฝ้าเดียว อธิฐาน อ่านพระคัมภีร์ นมันการ การสามัคคีอย่างสม่ำเสมอ',
      },
      {
        title: 'เติบโตขึ้นในพระวิญญานบริสุทธิ์เพื่อเป้าหมายไพบูลย์พระคริสต์',
        description:
          'กาลาเทีย 5:22 ส่วนผลของพระวิญญาณนั้น คือความรัก ความยินดี สันติสุข ความอดทน ความกรุณา ความดี ความซื่อสัตย์ ความสุภาพอ่อนโยน การรู้จักบังคับตน เรื่องอย่างนี้ไม่มีธรรมบัญญัติห้ามไว้เลย',
      },
      {
        title: 'เติบโตในการใช้ของประทานเพื่อเสริมสร้างคริสตจักรและถวายเกียรติแด่พระเจ้า',
        description:
          'เติบโตในการยอมจำนนให้ชีวิตเป็นไปตามแผนการและน้ำพระทันพระเจ้าสำหรับชีวิตของเราแต่ละคน ',
      },
      {
        title: 'เติบโตขึ้นในความรักตามพระมหาบัญญัติ',
        description:
          'เขาทูลตอบว่า “พวกท่านจงรักองค์พระผู้เป็นเจ้าผู้เป็นพระเจ้าของท่านด้วยสุดใจของท่าน ด้วยสุดจิตของท่าน ด้วยสุดกำลังของท่าน และด้วยสุดความคิดของท่าน และจงรักเพื่อนบ้านเหมือนรักตนเอง',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">S = Spiritual Maturity</h3>
    การเติบโตฝ่ายวิญญาณในพระคริสต์
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'ประกาศพระกิตติคุณสมบูรณ์',
        description:
          'และอธิฐานเผื่อคนที่ยังไม่รู้จักพระเจ้าเสมอด้วยหัวใจแห่งความรักและห่วงใยคนที่ยังไม่ได้รับความรอดโดยเริ่มต้นที่คนในครอบครัว',
      },
      {
        title: 'ประกาศข่าวประเสริฐที่มีฤทธิ์เดชในการเปลี่ยนแปลงชีวิต',
        description:
          'ปลดปล่อยคนจากบาป  ความทุกข์ ปัญหาต่างๆ เพื่อเราจะเห็นสังคมที่ดีขึ้น',
      },
      {
        title: 'ประกาศข่าวประเสริฐในทุกโอกาส เช่น งานวันเกิด งานแต่งงาน งานอาลัย งานขึ้นบ้านใหม่ และอื่นๆ กับคนทุกเพศ วัย ทุกสถานนะในสังคม',
        description:
          'ประกาศข่าวประเสริฐโดยการแสดงความรัก ผ่านการช่วยเหลือที่ยากลำบากในสังคม ผ่านมูลนิธิรักเพื่อนบ้าน',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> E = Evergelization</h3>  
       ประกาศด้วยใจเชื่อฟังพระมหาบัญชา
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title:"เอเฟซัส 4:11-12",
        description:'เอเฟซัส 1:22-23 พระเจ้า​วาง​ทุก​สิ่ง​ไว้​ใต้เท้า​ของ​พระคริสต์ และ​พระองค์​ตั้ง​พระคริสต์​เป็น​ศีรษะ​เหนือ​ทุกสิ่ง​เพื่อ​หมู่ประชุม​ของ​พระองค์ หมู่​ประชุม​นี้​คือ​ร่างกาย​ของ​พระคริสต์ และ​หมู่​ประชุม​นี้​เต็ม​เปี่ยม​ไป​ด้วย​พระคริสต์ และ​พระคริสต์​ทำให้​ทุกสิ่ง​เต็มเปี่ยม​ไปด้วย​พระองค์'
      },
      {
        title:"ตั้งคริสตจักรทุกจังหวัดในประเทศไทย และส่งมิชชันนารีออกไปต่างประเทศ",
        description:"ตั้งคริสตจักรที่แข็งแรงโดยวางรากฐานของความเชื่อในพระเยซูคริสต์และตามหลักการพระวจนะของพระเจ้า"
      },
      {
        title:"ตั้งคริสจักรใหม่ด้วยการช่วยเหลือและสนับสนุนอย่างน้ำหนึ่งใจเดียวของคริสตจักรที่มีอยู่แล้ว",
        description:"ตั้งคริสตจักรโดยการพึ่งพาการทรงนำจากพระเจ้าและแต่งตั้งผู้นำที่เติบโตฝ่ายวิญญาณมีชีวิตที่เป็ฯแบบอย่าง ในการดูแลคริสตจักร"
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> E = Establish Church 
      </h3>
      ตั้งคริสตจักรของพระคริสต์ของพระเจ้า ไม่ใช้ของเรา
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="D = Discipleship สร้างสาวกแบบพระคริสต์"
    items={[
      {
        title: 'สร้างสาวกด้วยการเรียนพระคัมภีร์อย่างเป็นระบบ',
        description:
          "สร้างสาวก 1:1 ในการสอนพระวจนะ ตักเตือน หนุนใจ เยียวยา เพื่อสาวกจะรับการขัดเกลาชีวิตอย่างแท้จริง",
        // icon: 'tabler:package',
      },
      {
        title: 'สร้างสาวกในผู้รับใช้พระเจ้า ทิโมธี',
        description:
          "เพื่อเข้าใจหลักการในการเป็นผู้นำและการดูแลคริสตจักรของพระเจ้า",
        // icon: 'tabler:letter-case',
      },
      {
        title: 'สร้างสาวกผ่านกลุ่มย่อย ด้วยบทเรียนแคร์ เป้าหมายเพื่อประยุกต์ใช้ในชีวิตประจำวัน',
        description:
          'สร้างสาวก โดนผ่านการเข้าร่วมอบรบการเป็นผู้รับใช้หรือเรียนกับสถาบันพระคัมภีร์ที่เป็นการยอมรับ',
        // icon: 'tabler:paint',
      },
      {
        title: 'สร้างสาวกสู่รุ่นถัดไป',
        description: '2 ทิโมธี 2:2 จงมอบคำสอนเหล่านั้นซึ่งท่านได้ยินจากข้าพเจ้าต่อหน้าพยานหลายๆ คนไว้กับบรรดาคนซื่อสัตย์ที่สามารถสอนคนอื่นได้ด้วย',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="เจาะลึกคำถามต่อไปนี้เพื่อรับข้อมูลเชิงลึก"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'พระเยซูคือใคร  ตายบนกางเขนแล้วเกี่ยวอะไรกับฉัน?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'ทุกศาสนาสอนให้เป็นคนดี แล้วทำไมต้องเชื่อพระเจ้า',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'พระเจ้าก็เหมือนเป็นกุศโลบายที่ทำให้เราทำความดีหรอ?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "อยู่ในสังคมคริสเตียนโดนล้างสมองหรืองมงายจริงป่าว?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'ทำไมคนไปโบสเยอะจังเลย ผู้นำที่โบสได้อะไร เขาได้เงินได้กำไรหรอ?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'คริสเตียนเป็นพวกไร้ความรับชอบเอาแต่พึ่งพาพระเจ้าจริงหรอ',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
