---
import Header from '$components/saweria/Header.astro'
import Navbar from '$components/saweria/Navbar.astro'
import Card from '$components/saweria/Card.astro'
import CardWithTap from '$components/saweria/CardWithTap.astro'
import Layout from '../layouts/SeedBKK.astro'
import Footer from '$components/Footer.astro'
import ContainerCards from '@/components/saweria/ContainerCards.astro'



---

<Layout
  title="ＳＥＥＤＢＫＫ"
  description="โบสกรุงเทพตอนบ่าย โบสเมล็ดพันพันธุ์กรุงเทพ โบสวัยรุ่น"
  pubDate={new Date('Septerber 09 2023')}
>
  <!-- <Navbar /> -->
<div class="custom-content container">

  <!-- <Header /> -->
  <img src="/profile/bussiness_card__seed_bkk_demo_v1_(1)-transformed.png" >
  <!-- <ContainerCards/> -->
  
</div>

  <!-- <Footer /> -->
</Layout>
