---
import ExitAnimation from "@/components/motion/ExitAnimation";
import MotionPath from "@/components/motion/MotionPath";
---

<div class="container">
    <!-- <ExitAnimation /client:only="recat"/> -->
    <MotionPath client:only="recat"/>
</div>
