---
import Layout from '../layouts/SeedBKK.astro'
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
>
  <div class="custom-content container">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            1ในปฐมกาล พระเจ้าทรงเนรมิตสร้างฟ้าและแผ่นดิน
            2แผ่นดินก็ร้างและว่างเปล่า ความมืดอยู่เหนือน้ำ
            และพระวิญญาณของพระเจ้าทรงปกอยู่เหนือน้ำนั้น 3พระเจ้าตรัสว่า
            “จงเกิดความสว่าง” ความสว่างก็เกิดขึ้น
            4พระเจ้าทรงเห็นว่าความสว่างนั้นดี และทรงแยกความสว่างออกจากความมืด
            5พระเจ้าทรงเรียกความสว่างนั้นว่า วัน และความมืดนั้นว่า คืน
            มีเวลาเย็นและเวลาเช้า เป็นวันแรก 6พระเจ้าตรัสว่า
            “จงมีภาคพื้นในระหว่างน้ำ แยกน้ำออกจากกัน”
            7พระเจ้าทรงสร้างภาคพื้นนั้นขึ้น
            แล้วทรงแยกน้ำที่อยู่ใต้ภาคพื้นออกจากน้ำที่อยู่เหนือภาคพื้น
            ก็เป็นดังนั้น 8พระเจ้าจึงทรงเรียกภาคพื้นนั้นว่า ฟ้า
            มีเวลาเย็นและเวลาเช้า เป็นวันที่สอง 9พระเจ้าตรัสว่า
            “น้ำที่อยู่ใต้ฟ้าจงรวมอยู่ในที่เดียวกัน ที่แห้งจงปรากฏขึ้น”
            ก็เป็นดังนั้น 10พระเจ้าจึงทรงเรียกที่แห้งนั้นว่า แผ่นดิน
            และที่ซึ่งน้ำรวมกันนั้นว่า ทะเล พระเจ้าทรงเห็นว่าดี 11พระเจ้าตรัสว่า
            “แผ่นดินจงเกิดพืช คือ ธัญพืชที่ให้เมล็ด
            และต้นไม้ผลที่ออกผลตามชนิดของมัน และมีเมล็ดในผลบนแผ่นดิน”
            และก็เป็นดังนั้น 12แผ่นดินก็เกิดพืช
            คือธัญพืชที่ให้เมล็ดตามชนิดของมัน
            และต้นไม้ที่ออกผลมีเมล็ดในผลตามชนิดของมัน พระเจ้าทรงเห็นว่าดี
            13มีเวลาเย็นและเวลาเช้า เป็นวันที่สาม 14พระเจ้าตรัสว่า
            “จงมีดวงสว่างต่างๆ ของภาคพื้นฟ้า เพื่อแยกวันออกจากคืน
            ให้เป็นหมายกำหนดฤดู วัน ปี 15และให้เป็นดวงสว่างต่างๆ บนภาคพื้นฟ้า
            เพื่อส่องสว่างเหนือแผ่นดิน” ก็เป็นดังนั้น
            16พระเจ้าทรงสร้างดวงสว่างขนาดใหญ่ไว้สองดวง ให้ดวงที่ใหญ่กว่าครองวัน
            ดวงที่เล็กกว่าครองคืน พระองค์ทรงสร้างดวงดาวต่างๆ ด้วย
            17พระเจ้าทรงตั้งดวงสว่างเหล่านี้ไว้บนภาคพื้นฟ้า
            ให้ส่องสว่างเหนือแผ่นดิน 18ให้ครองวันและคืน
            และแยกความสว่างออกจากความมืด พระเจ้าทรงเห็นว่าดี
            19มีเวลาเย็นและเวลาเช้า เป็นวันที่สี่
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-content container">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Noto Serif Thai</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
