---
import InstancedBoxes from '@/components/three/InstancedBoxes'
import ThreeBox from '@/components/three/ThreeBox'
---

<div class="container">
    <!-- <ExitAnimation /client:only="recat"/> -->
    <!-- <ThreeBox client:only="recat" /> -->
    <InstancedBoxes client:only="recat" />
</div>
