---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '$components/BaseHeadSeedBKK.astro'
import '../styles/header.css'
import '../styles/saweria.css'
import '../styles/typingEffect.css'
import '../styles/welcome.css'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate } = Astro.props
---



<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main>
      <iframe src="https://www.youtube.com/shorts/gzSySr_lQlQ" allow="autoplay"></iframe>

      <!-- <header class="viewport-header">
            
            <h1 class="title-futuraHandwritten" >
                The Seed Of Bangkok City Church
            </h1>
          </header> -->
    </main>
  </body>
</html>
