---
import Social from './saweria/Social.astro'
const today = new Date()
---

<footer>
  <a href="https://www.facebook.com/seedchurchthailand" target="_blank">
    <img src="/SEED_CHURCH_LOGO_3.png" width={64} height={64} />
  </a> MADE WITH THE ❤️ 
  <Social />
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
