<section class="container-cards">
  <div class="category_container">
    <div class="content">
      <img src="/cardsEffect/card_cover_1_1.jpg" class="professio_image" alt="Profession" />
      <img src="/cardsEffect/card_cover_1_2.jpg" class="profile_image" alt="Profile" />
      <div class="profile_detail">
        <span>เติบโต</span>
        <p>คำเทศนาเติบโตชีวิต</p>
      </div>

      <div class="wrapper">
        <div class="profile_quote">
          <p>"ฟังเสียงพระเจ้าผ่านคำเทศนา"</p>
        </div>
      </div>
    </div>
    <div class="content">
      <img src="/cardsEffect/card_cover_2_1.jpg" class="profession_image" alt="Profession" />
      <img src="/cardsEffect/card_cover_2_2.jpg" class="profile_image" alt="Profile" />
      <div class="profile_detail">
        <span>รับประทานอาหาร</span>
        <p>เติบโตฝ่ายร่างกาย</p>
      </div>
      <div class="wrapper">
        <div class="profile_quote">
          <p>"รับประทานอาหารหลังเลิกโบส"</p>
        </div>
      </div>
    </div>
    <div class="content">
      <img src="/cardsEffect/card_cover_3_2.jpg" class="professio_image" alt="Profession" />
      <img src="/cardsEffect/card_cover_3_1.jpg" class="profile_image" alt="Profile" />
      <div class="profile_detail">
        <span>บอร์ดเกม</span>
        <p>เวลาแห่งความสนุก</p>
      </div>
      <div class="wrapper">
        <div class="profile_quote">
          <p>"เล่นบอร์ดเกมหลังเลิกโบส เรามีมากกว่า7เกม"</p>
        </div>
      </div>
    </div>
  </div>
</section>
