---
import '../../styles/navbar.css'
---

<div class="row">
  <div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  navbar-line-seedbkk">
      <div class="container-fluid">
        <img  class="rounded" width={48} height={48} src="/SEED_CHURCH_LOGO_3.png" alt="" />
        <a class="navbar-brand title-futuraHandwritten" href="#">   SeedBKK</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-lg-0 mb-2 me-auto">
            <li class="nav-item">
              <a class="nav-link  fw-bold fs-4 title-futuraHandwritten" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold fs-4 title-futuraHandwritten" href="#">Worship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold fs-4 title-futuraHandwritten" href="#">Our Chuch</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle fw-bold fs-4 title-futuraHandwritten"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Vision
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">หลักข้อเชื่อ</a></li>
                <li><a class="dropdown-item" href="#">เกี่ยวกับเรา</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <!---<li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
