---
import BaseHead from '$components/BaseHeadSeedBKK.astro'

const title = 'ＳＥＥＤＢＫＫ'
const description = 'โบสกรุงเทพตอนบ่าย โบสเมล็ดพันพันธุ์กรุงเทพ โบสวัยรุ่น'
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
